
.hero{
    height: 105vh;
}
.hero .hero-con{
    height: 100vh;
    overflow: hidden;
    
}

.hero .hero-left {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero .hero-left .text-con p{
    font-size: 2.6rem;
    font-weight: 500;
}
.hero .hero-left .text-con span{
    font-size: 1.8rem;
}
.hero .hero-left .text-con p span{
    font-weight: 600;
    font-size: 2.4rem;
}

.hero .hero-right .video-block{
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: -1;
}

.hero .hero-right .video-block video{
    width: 100%;
}

.dp-none{
    display: none;
}



.service{
    background-color:#fff;
    padding: 2rem 0;
}
.service >h3{
    color:#fff;
    font-size: 2.4rem;
}

.service .cards {
    padding: 4rem;
}
.service .card{
    height: 26rem;
    box-shadow: 5px 7px 19px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 2rem !important;
    padding-top: 7rem !important;
}
.service .card img{
    height:10rem;
    width: 80%;
    border: 1px solid;
    position: absolute;
    top:-3rem;
    object-fit: fill;   
}


@media (max-width: 768px) {
    .rp-none{
        display: none !important;
    }
    .dp-none{
        display: block;
    }
    .hero{
        height: 100%;
        padding: 2rem 1rem;
        padding-top: 6rem;
        position: relative;
    }
    .hero .hero-con{
        height: auto;
        overflow: visible;
        
    }
    .hero .hero-con .new-logo{
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero .hero-right .video-block{
        top: 0;
    }
    .hero .hero-right .video-block video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    

    .hero .hero-left {
        display: flex;
        align-items:center;
        height: 100%;
        text-align: center;
        background-color:#fff;
        border-radius:2rem;
        padding: 1rem;
        box-shadow: 1px 5px 20px -18px rgba(0,0,0,0.75);
    }
    .hero .hero-left .text-con p{
        font-size: 1.3rem;
        font-weight: 500;
        text-align: left;
    }
    .hero .hero-left .text-con span{
        font-size: 1rem;
    }

    .service .cards {
        padding: 2rem;
    }
    .service .card{
        margin-top: 2rem;
    }
}