
.hero{
    height: 80vh;
}
.hero .hero-con{
    height: 80vh;
    overflow: hidden;
    
}

.hero .hero-left {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero .hero-left .text-con p{
    font-size: 2.3rem;
    font-weight: 500;
}
.hero .hero-left .text-con span{
    font-size: 1.5rem;
}
.hero .hero-left .text-con p span{
    font-weight: 600;
    font-size: 2.4rem;
}

.hero .hero-right .video-block{
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: -1;
}

.hero .hero-right .video-block video{
    width: 100%;
}

.dp-none{
    display: none;
}
@media (max-width: 768px) {
    .rp-none{
        display: none !important;
    }
    .hero{
        height: 100%;
        padding: 2rem 1rem;
        padding-top: 6rem;
        position: relative;
    }
    .hero .hero-con{
        height: auto;
        overflow: visible;
        
    }
    .hero .hero-con .new-logo{
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero .hero-right .video-block{
        top: 0;
    }
    .hero .hero-right .video-block video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    

    .hero .hero-left {
        display: flex;
        align-items:center;
        height: 100%;
        text-align: center;
        background-color:#fff;
        border-radius:2rem;
        padding: 1rem;
        box-shadow: 1px 5px 20px -18px rgba(0,0,0,0.75);
    }
    .hero .hero-left .text-con p{
        font-size: 1.3rem;
        font-weight: 500;
        text-align: left;
    }
    .hero .hero-left .text-con span{
        font-size: 1rem;
    }
}