* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dp-align {
  display: flex;
  align-items: center;
}

.dp-beetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dp-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp-cloumn {
  display: flex;
  flex-direction: column;
}

html,
body {
  overflow-x: hidden;
}

.my-container {
  width: 90%;
  margin: 0 auto;
}

a,
.link {
  text-decoration: none;
}

li {
  list-style: none;
}


.hero .hero-con {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .logo-block{
  width: 10rem;
}

.hero .logo-block img{
  width: 100%;
}
.hero .hero-left{
  padding: 4rem 0;
  position: relative;
}
.hero .hero-left p{
  font-size: 2.3rem;
  font-weight: 700;
}
.hero .hero-left span{
  font-size: 2rem;
}

.hero .hero-left .banner-1{
  position: absolute;
  top:-8rem;
  right: 0;
  animation: infinite;
  animation: rotate  50s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero .hero-left img{
  position: relative;
}
.hero .hero-left button{
  background-color:#022161;
  color:#fff;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.hero .hero-left .banner-4{
  position: absolute;
}
.hero .hero-right {
  position: relative;
}

.hero .hero-right .banner-3{
position: absolute;
top: -7rem;
left: -3rem;
z-index: -2;
}
.hero .hero-right .flags-img img{
  width: 100%;
  border-radius: 50%;
}


.service .cards {
  padding: 4rem;
}

.service .card {
  height: 26rem;
  box-shadow: 5px 7px 19px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  padding: 2rem !important;
  padding-top: 7rem !important;
}

.service .card img {
  height: 10rem;
  width: 80%;
  border: 1px solid;
  position: absolute;
  top: -3rem;
  object-fit: fill;
}
.dp-none{
  display: none;
}
@media (max-width: 768px) {
  .dp-none{
    display: block !important;
  }
  .rp-none{
    display: none;
  }
  .service .cards {
    padding: 1rem;
    padding-top: 3rem;
  }

  .service .cards .card {
    margin-top: 1rem;
  }

  .hero .hero-left p{
    font-size: 1.4rem;
    font-weight: 700;
  }
  .hero .hero-left span{
    font-size: 1.4rem;
  }
  .hero .hero-right .flags-img {
    z-index: -1;
    position: relative;
    bottom:6rem;
    left:8rem
  }
}